.signup-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;

  .signup-left {
    h5 {
      font-size: 30px;
      margin: 0;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }
  }

  .signup-right {
    padding: 0px 20px;

    .input-icon {
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: 1px solid lightgray;
      margin-bottom: 15px;

      input {
        width: 100%;
        padding: 8px 15px;
        border-radius: 5px;
        outline: none;
        border: 0px;
        font-size: 20px;
        color: grey;
      }

      span {
        color: grey;
        font-size: 30px;
        padding-right: 15px;
      }
    }

    .submit-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        margin: 0;
        font-size: 14px;
      }

      button {
        padding: 5px 10px;
        margin: 0;
        font-size: 18px;
      }
    }
  }
}
