.signup-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;

  .signup-left {
    h5 {
      font-size: 30px;
      margin: 0;
      margin-bottom: 20px;
      color: #01B399;
      font-weight: 500;
    }
    img {
      width: 100%;
    }
  }

  .signup-right {
    padding: 0px 20px;

    .input-icon {
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: 1px solid lightgray;
      margin-bottom: 8px;

      input {
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 0px;
        font-size: 20px;
        color: grey;
        padding: 20px 10px;
      }

      span {
        color: #01B399;
        font-size: 22px;
        padding-right: 10px;
        cursor: pointer;
      }
    }

    .checkbox{
      margin-bottom: 8px;
      font-size: 15px;
      color: grey;

      .input{
        display: flex;
        align-items: center;
      }

      .span{
        color: grey;
      }
    }

    .submit-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;

      p {
        margin: 0;
        font-size: 14px;
        color: grey;
      }
      .link{
        color: #01B399;
      }

    }
    button {
      width: 100%;
      padding: 5px 10px;
      margin: 0;
      font-size: 18px;
      color: #01B399;
      background-color: white;
      border: 1px solid #01B399;
      border-radius: 5px;
    }

    button:hover {
      background-color: #01B399;
      color: white;
    }
  }
}
