.signup-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;

  .signup-left {
    h5 {
      font-size: 30px;
      margin: 0;
      margin-bottom: 20px;
      color: #01B399;
    }
    img {
      width: 100%;
    }
  }

  .signup-right {
    padding: 0px 20px;

    .input-icon {
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: 1px solid lightgray;
      margin-bottom: 15px;

      input {
        width: 100%;
        padding: 8px 15px;
        border-radius: 5px;
        outline: none;
        border: 0px;
        font-size: 20px;
        color: grey;
      }

      span {
        color: #01B399;
        font-size: 30px;
        padding-right: 15px;
        cursor: pointer;
      }
    }

    .checkbox{
      margin-bottom: 15px;
      font-size: 14px;
      color: grey;
      display: flex;
      align-items: center;

      input{
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        
          width: 16px;
          height: 16px; 
          border: 2px solid #01B399; 
          background-color: white; 
          cursor: pointer;
          margin: 0;
          margin-right: 10px;
      }

      input:checked {
        background-color: #01B399; 
        border: 2px solid #01B399; 
      }
    }

    .submit-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      p {
        margin: 0;
        font-size: 14px;
        color: grey;
      }
      .link{
        color: #01B399;
      }

    }
    button {
      width: 100%;
      padding: 5px 10px;
      margin: 0;
      font-size: 18px;
      color: #01B399;
      background-color: white;
      border: 1px solid #01B399;
      border-radius: 5px;
    }

    button:hover {
      background-color: #01B399;
      color: white;
    }
  }
}
